<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
 <!-- Main container start -->
<div class="container margine-b-50">
	<div class="row text-center">
	    <div class="col-md-6 offset-md-3">
	        <div class="card" data-bg-color="#323544">
	            <div class="card-body">
	                <div class="login-title">
	                    <div class="title-text">Sign in</div>
	                </div>
	                <div class="login-form mt-4">
	                    <form method="post">
                        {% csrf_token %}
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12 ">
                                    <input id="text" name="username" placeholder="Username" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12">
                                    <input type="password" class="form-control" name="password" id="pass" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-row ">
                                <button type="submit" class="btn main-button btn-block normal-text ">Sign in</button>
                            </div>



                        </form>
                        <div class="form-row ">
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class='btn main-button btn-block normal-text' >Sign in to Incodaq Weather with Google</a>
                        </div>
                        </br>
                        </br>
                        <div class="form-row">
                            <a href="{% url 'index'%}" class='btn main-button btn-block normal-text' >Back to Index</a>
                        </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}