<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
 <!-- Main container start -->
     <h2 class="text-center">Log in</h2>
        <form method="post">
          {% csrf_token %}
              <label>Username</label>
              <input type="text" name="username" class="form-control" placeholder="Username">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
            <button class="btn btn-primary solid blank margine-10-lr" type="submit">Log in with username and password</button>
            <a href="{% url 'index'%}" class='btn btn-primary solid blank margine-10-lr' >Back to Index</a>
            <a class="btn btn-primary solid blank margine-10-lr" href="">Login with Google</a>
        </form>
{% endblock %}