  .title-text {
    color: #009ad8;
    font-size: 30px ;

    }
.normal-text{
    font-size: 15px;
}


  .main-button {
    padding: 5px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white !important;
    -webkit-transition: .3s ease;
            transition: .3s ease;
    font-weight: 400; }
 .main-button:hover {
    border-color: #009ad8;
    color: #009ad8 !important; }

 .margine-b-10{
     margin-bottom: 10px;
 }
 .margine-b-15{
     margin-bottom: 15px;
 }
 .margine-b-20{
     margin-bottom: 20px;
 }
 .margine-b-70{
     margin-bottom: 70px;
 }
  .margine-b-90{
     margin-bottom: 90px;
 }

  .margine-b-110{
     margin-bottom: 110px;
 }


 .margine-t-10{
     margin-top: 10px;
 }
 .margine-t-15{
     margin-top: 15px;
 }

  .margine-t-20{
     margin-top: 20px;
 }
  .margine-b-20{
     margin-bottom: 20px;
 }
  .margine-b-50{
     margin-bottom: 50px;
 }
  .margine-l-10{
     margin-left: 10px;
 }

    .margine-r-10{
     margin-right: 10px;
 }
      .margine-r-20{
     margin-right: 20px;
 }
        .margine-r-30{
     margin-right: 30px;
 }

  .bckg-dark{
      background: #1e202b;
  }



  .padding-b-20{
    padding-bottom: 20px;
}
.padding-r-20{
    padding-right: 20px;
}
.padding-l-20{
    padding-left: 20px;
}
.padding-t-20{
    padding-top: 20px;
}











   .search-box {
        position: relative;
        box-shadow: none
    }
  .search-box .input-group-addon {
        min-width: 105px;
        border: none;
        background: transparent;
        position: absolute;
        right: 0;
        z-index: 9;
        padding: 7px;
    }
  .search-box .height-45 {
        height: 45%;
    }
    .search-box .height-100 {
        height: 100%;
    }
    .search-box i {
        color: #009ad8;
        font-size: 25px;
    }