<!-- templates/index.html -->
{% extends 'base.html' %}


{% block content %}
This is a dashboard
{% if dashboardStatus %}
<small style="color: {{statusColor}}"> message: {{ dashboardStatus }}</small>
{% endif %}    

<li><a href="{% url 'edit_user_profile' %}" >Edit user profile</a></li>
<li><a href="{% url 'edit_user_password' %}" >Edit user password</a></li>
<h3 class="widget-title"><a href="{% url 'edit_mobile_phone' %}" class="btn btn-primary solid ">edit_mobile_phone</a></h3>	


<h3 class="widget-title"><a href="{% url 'send_daily_forecast_to_user' %}" class="btn btn-primary solid ">Send daily forecast</a></h3>	

<div class="col-md-12 col-sm-12 col-xs-12 footer-widget footer-about-us " align="center">
							
					</div><!--/ End Faq-->	
* Please make sure the data is in correct format: Country code (+ and number) and the phone number.
 <br/>

** To receive SMS weather forecast messages you need to approve it by ticking this box.
    <br/>
*** Please write this in format: hours:minutes.
    <br/>
Please make sure the minutes are set to 00 or 30, due to current forecast time restrictions.
    <br/>
Please make sure you use UTC/GMT time due to current forecast time resctrictions.




</div>
{% endblock %}