<!-- templates/dashboard.html -->
{% extends 'base.html' %}
{% block content %}

<div class="">
    <div class="container search-box">
        <form class="find-location" method="post">
          {% csrf_token %}
            {{searchBarInputForm.searchBarInput}}
            <button type="submit" class="input-group-addon height-100" value="Find"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
<div class="container margine-b-50">
	<div class="row text-center">
	    <div class="col-md-10 col-xs-12 offset-md-1">
	        <div class="card" data-bg-color="#323544">
	            <div class="card-body">
	                <div class="dashboard-title">
	                    <h2 class="title-text">Dashboard</h2>
	                </div>
                    </br>
                    {% if dashboardStatus %}
                        <h2 style="color: {{statusColor}}"> {{ dashboardStatus }}</h2>
                    {% endif %}
                    </br></br>

                    <div class = "col-lg-12 col-md-12 col-xs-12 margine-b-20">
                        <div class="form-row h3 text-left">Phone number:
                        </div>
                        <div class="form-row h3 text-left">
                             {% if hasMobileNumberMessage %}
                                 <normal style="color: {{hasMobileNumberStatusColor}}"> {{ hasMobileNumberMessage }}</normal>
                                 {% if hasMobileNumber == True %}
                                    <i class="far fa-check-circle"></i>
                                 {% else %}
                                    <i class="far fa-times-circle"></i>
                                 {% endif %}
                             {% endif %}
                        </div>
                    </div>
                    <div class = "col-lg-12 col-md-12 col-xs-12 margine-b-20">
                        <div class="form-row h3 text-left">Mobile phone validated:
                        </div>
                        <div class="form-row h3 text-left">
                             {% if isMobileValidatedMessage %}
                                 <normal style="color: {{isMobileValidatedStatusColor}}"> {{ isMobileValidatedMessage }}</normal>
                                 {% if isMobileValidated == True %}
                                    <i class="far fa-check-circle"></i>
                                 {% else %}
                                    <i class="far fa-times-circle"></i>
                                 {% endif %}
                             {% endif %}
                        </div>
                    </div>
                    <div class = "col-lg-12 col-md-12 col-xs-12 margine-b-20">
                        <div class="form-row h3 text-left">SMS receival approval:
                        </div>
                        <div class="form-row h3 text-left">
                             {% if wantsToReceiveWeatherSMSMessage %}
                                 <normal style="color: {{wantsToReceiveWeatherSMSStatusColor}}"> {{ wantsToReceiveWeatherSMSMessage }}</normal>
                                 {% if wantsToReceiveWeatherSMS == True %}
                                    <i class="far fa-check-circle"></i>
                                 {% else %}
                                    <i class="far fa-times-circle"></i>
                                 {% endif %}
                             {% endif %}
                        </div>
                    </div>
                    <div class = "col-lg-12 col-md-12 col-xs-12 margine-b-20">
                        <div class="form-row h3 text-left">SMS receival time:
                        </div>
                        <div class="form-row h3 text-left">
                             {% if isForecastTimeSetMessage %}
                                 <normal style="color: {{isForecastTimeSetStatusColor}}"> {{ isForecastTimeSetMessage }}</normal>
                                 {% if isForecastTimeSet == True %}
                                    <i class="far fa-check-circle"></i>
                                 {% else %}
                                    <i class="far fa-times-circle"></i>
                                 {% endif %}
                             {% endif %}
                        </div>
                    </div>
                    <div class = "col-lg-12 col-md-12 col-xs-12 margine-b-20">
                            <div class="form-row h3 text-left">Street address:
                            </div>
                            <div class="form-row h3 text-left">
                                 {% if hasAddressMessage %}
                                     <normal style="color: {{hasAddressStatusColor}}"> {{ hasAddressMessage }}</normal>
                                     {% if hasAddress == True %}
                                        <i class="far fa-check-circle"></i>
                                     {% else %}
                                        <i class="far fa-times-circle"></i>
                                     {% endif %}
                                 {% endif %}
                            </div>
                        </div>

                    <div class="form-row col-lg-12 col-md-12 col-xs-12 margine-b-20">
                        <a href="{% url 'edit_user_profile' %}" class='btn main-button btn-block normal-text' >Edit user profile</a>
                    </div>
                    <div class="form-row col-lg-12 col-md-12 col-xs-12 margine-b-20">
                        <a href="{% url 'edit_user_password'%}" class='btn main-button btn-block normal-text' >Edit user password</a>
                    </div>
                    <div class="form-row col-lg-12 col-md-12 col-xs-12 margine-b-20">
                        <a href="{% url 'edit_mobile_phone'%}" class='btn main-button btn-block normal-text' >Edit mobile phone</a>
                    </div>
                    <div class="form-row col-lg-12 col-md-12 col-xs-12 margine-b-20">
                        <a href="{% url 'send_daily_forecast_to_user'%}" class='btn main-button btn-block normal-text' >Send weather forecast to my mobile phone now</a>
                    </div>
                    {% if user.is_superuser %}
                        <div class="form-row col-lg-12 col-md-12 col-xs-12 margine-t-20 margine-b-20 bckg-dark">
                            <div class="col-lg-12 col-md-12 col-xs-12 margine-t-20">
                                <h2 class="title-text">Admin menu</h2>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 text-center margine-b-20">
                                Note: Admin menu is visible only to Incodaq Weather administrators.
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 margine-t-20 margine-b-20">
                                <a href="{% url 'update_index_statuses' %}" class="btn main-button btn-block normal-text">Update main page weather conditions now</a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 margine-b-20">
                                <a href="{% url 'send_daily_forecast' %}" class="btn main-button btn-block normal-text">Send daily forecast to users *</a>
                            </div>
                            <p>* Sent current forecast to all users with approved phone number, have inputed their address, have agnovledged that they wish to receive weather forecast and their forecast time is in the last 30 minutes from now.</p>
                        </div>
                    {% endif %}
	            </div>
	        </div>
	    </div>
	</div>
</div>

{% endblock %}