<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}



{% block content %}

<main class="main-content">
    <div class="forecast-table">
            <div class="forecast-container">
                {% if defaultCitiesTemp %}
                    <div class="forecast-header">
                        <div class="h2 text-center">Current temperatures</div>
                    </div> <!-- .forecast-header -->
                    {% for x in defaultCitiesTemp %}
                        <div class="forecast">
                            <div class="forecast-header">
                                <div class="day">{{x.city}}</div>
                            </div> <!-- .forecast-header -->
                            <div class="forecast-content">
                                <div class="degree">{{x.iconDesc}}</div>
                            </div>
                            <div class="forecast-content">
                                <div class="degree">{{x.temp}}<sup>o</sup>C</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="fullwidth-block " data-bg-color="#262936">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <h2 class="section-title">Weather forecast</h2>
                    <ul class="arrow-feature">
                        <li>
                            <h3>Using the open source weather solution</h3>
                            <li>Get current conditions and daily forecast</li>
                            <li>Global coverage</li>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2 class="section-title">Features</h2>
                    <ul class="arrow-feature">
                        <li>
                            <h3>Receive your forecast directly to you mobile phone</h3>
                            <li>Dashboard that provide helpful explanations and statuses</li>
                            <li>Choose a forecast for a pinpointed address or a whole city</li>
                            <li>Choose the time when you want to receive your forecast</li>
                            <li>Send a on demand forecast from the dashboard</li>
                            <p></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





        <div class="fullwidth-block" >
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-md-4 col-lg-4">
								<div class="news">
									<div class="date">Technologies</div>
									<h3><a href="#">Technology stack used to build Incodaq Weather </a></h3>
									<p>Django2</p>
                                    <p>PostgreSQL</p>
                                    <p>RabbitMQ</p>
                                    <p>Celery</p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>



                                </div>
							</div>
							<div class="col-xs-12 col-md-4 col-lg4">
								<div class="news">
									<div class="date">Deployment</div>
									<h3><a href="#">The way Incodaq Weather is deployed</a></h3>
									<p>Nobis architecto consequatur ab, ea, eum autem aperiam accusantium placeat vitae facere explicabo temporibus minus distinctio cum optio quis, dignissimos eius aspernatur fuga. Praesentium totam, corrupti beatae amet expedita veritatis.</p>
								</div>
							</div>
							<div class="col-xs-12 col-md-4 col-lg-4">
								<div class="news">
									<div class="date">Conclusion</div>
									<h3><a href="#">Project conclusion</a></h3>
									<p>Enim impedit officiis placeat qui recusandae doloremque possimus, iusto blanditiis, quam optio delectus maiores. Possimus rerum, velit cum natus eos. Cumque pariatur beatae asperiores, esse libero quas ad dolorem. Voluptates.</p>
								</div>
							</div>
						</div>
					</div>
				</div>


    </main> <!-- .main-content -->
    </div>
</div>



{% endblock %}
