<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}



{% block content %}

<main class="main-content">

    <div class="forecast-table">
            <div class="forecast-container">
                {% if defaultCitiesTemp %}
                    {% for x in defaultCitiesTemp %}
                        <div class="forecast">
                            <div class="forecast-header">
                                <h2>{{x.city}}</h2>
                            </div> <!-- .forecast-header -->
                            <div class="forecast-content">
                                    <canvas class={{x.iconDesc}} width="80" height="80"></canvas>
                            </div>
                            <div class="forecast-content">
                                <div class="degree">{{x.temp}}<sup>o</sup>C</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="fullwidth-block " data-bg-color="#262936">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <h2 class="section-title">Forecast</h2>
                    <ul class="arrow-feature">
                        <li>
                            <h3>Receive your forecast directly to you mobile phone</h3>
                          <ul class="arrow-feature">
                            <li>Global weather coverage</li>
                            <li>Weather prediction for your exact location</li>
</ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2 class="section-title">Features</h2>
                    <ul class="arrow-feature">
                        <li>
                            <h3>Incodaq Weather gives you access to</h3>
                        <ul class="arrow-feature">
                            <li>Free daily subscription forecast text messages.</li>
                            <li>Free on demand forecast text messages sent directly from the dashboard.</li>
                            <li>User selected time to receive free subscription forecast text messages.</li>
                            <li>All text messages hold current temperature, daily minimum and maximum temperature and a custom tailored daily forecast.</li>
                            <li>Increased forecast accuracy providing the city or address.</li>
                            <li>Dashboard with statuses and helpful explanations.</li>
                        </ul>
                            <p></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





        <div class="fullwidth-block" >
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-md-4 col-lg-4">
								<div class="news">
									<div class="date">Technologies</div>
									<h3><a href="#">Technology stack used to build Incodaq Weather </a></h3>
									<p>Django2</p>
                                    <p>PostgreSQL</p>
                                    <p>RabbitMQ</p>
                                    <p>Celery</p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>



                                </div>
							</div>
							<div class="col-xs-12 col-md-4 col-lg4">
								<div class="news">
									<div class="date">Deployment</div>
									<h3><a href="#">The way Incodaq Weather is deployed</a></h3>
									<p>
                                        </p>
								</div>
							</div>
							<div class="col-xs-12 col-md-4 col-lg-4">
								<div class="news">
									<div class="date">Conclusion</div>
									<h3><a href="#">Project conclusion</a></h3>
									<p>
                                        </p>
								</div>
							</div>
						</div>
					</div>
				</div>


    </main> <!-- .main-content -->
    </div>
</div>



{% endblock %}
