<!-- templates/signup.html -->
{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container margine-b-50">

	<div class="row text-center">
	    <div class="col-md-6 offset-md-3">
	        <div class="card" data-bg-color="#323544">
	            <div class="card-body ">
	                <div class="login-title margine-b-20">
	                    <div class="title-text">Registration</div>
	                </div>
                    {% if registrationStatus %}
                        {% for x in registrationStatus %}
                            <div class="form-row">
                                <div class="form-group col-md-12 ">
                                   <h4  style="color: {{statusColor}}"><li>{{ x }}</li> </h4>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
	                <div class="login-form mt-4">
	                    <form method="post">
                        {% csrf_token %}
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12 ">
                                    <input id="text" name="username" placeholder="Username" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12">
                                    <input type="password" class="form-control" name="password1" id="pass" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12">
                                    <input type="password" class="form-control" name="password2" id="pass" placeholder="Repeat password">
                                </div>
                            </div>
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email address">
                                </div>
                            </div>
                            <div class="form-row ">
                                <button type="submit" class="btn main-button btn-block normal-text ">Submit</button>
                            </div>
                            </br>
                            </br>
                            <div class="form-row">
                                <a href="{% url 'index'%}" class='btn main-button btn-block normal-text' >Back to Index</a>
                            </div>
                        </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>




{% endblock %}