<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% block title %}Password change{% endblock %}
{% block content %}
    <!-- Main container start -->
<div class="container margine-b-50">
	<div class="row text-center">
	    <div class="col-lg-10 offset-lg-1  col-md-10 offset-md-1 col-xs-12">
	        <div class="card" data-bg-color="#323544">
	            <div class="card-body">
	                <div class="dashboard-title">
	                    <div class="title-text">Change password</div>
	                </div>
                    </br>
                    {% if changePasswordStatus %}
                        <h2 style="color: {{statusColor}}"> {{ changePasswordStatus }}</h2>
                    {% endif %}

                    </br></br>

	                <div class="login-form mt-4 col-lg-10 offset-lg-1">
	                    <form method="post">
                        {% csrf_token %}
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12 col-lg-12">
                                    <div class="text-left ">
                                         <la id="" class="input-field1">{{ password_form_data.as_p }}</la>
                                    </div>
                                </div>
                            </div>




</br>
                        </br>                        </br>

                            <div class="form-row ">
                                <button type="submit" class="btn main-button btn-block normal-text ">Submit</button>
                            </div>



                        </form>

                        </br>
                        </br>
                        <div class="form-row">
                            <a href="{% url 'index'%}" class='btn main-button btn-block normal-text' >Back to Index</a>
                        </div>
                        </br>
                        </br>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>


{% endblock %}