<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}
{% block title %}Succesfull password change{% endblock %}
{% block content %}
<div class="container margine-b-50">
	<div class="row text-center">
	    <div class="col-lg-10 offset-lg-1  col-md-10 offset-md-1 col-xs-12">
	        <div class="card" data-bg-color="#323544">
	            <div class="card-body">
	                <div class="dashboard-title">
	                    <div class="title-text">Password changed</div>
	                </div>
                    </br>
	                <div class="login-form mt-4 col-lg-10 offset-lg-1">
                        <h1>Hi {{user.username}}, you have succesfully changed your password</h1>
                        <p>You can continue using incodaq Weather now, but remember - on your next login you will have to use your new password !</p>
                        </br>
                        </br>
                        <div class="form-row">
                            <a href="{% url 'index'%}" class='btn main-button btn-block normal-text' >Back to Index</a>
                        </div>
                        </br>
                        </br>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}