{% extends 'base.html' %}

{% block content %}

<div class="container margin-30-top">
<form method="post">
{% if userProfileMessage %}
<small style="color: {{messageColor}}"> {{ userProfileMessage }}</small>
{% endif %}
<br/>
    {% csrf_token %}
    Username: {{profileFormData.username}}
    <br/>
    First name: {{profileFormData.first_name}}
    <br/>
    Last name: {{profileFormData.last_name}}
    <br/>
    Email: {{profileFormData.email}}
    <br/>
    Address: {{profileFormData.userAddress}}
    Please type in Address if you want to get a better weather forecast*
    <br/>
    Town: {{profileFormData.userCity}} Please type in City if you want to get a weather forecast* **
    <br/>
    Country: {{profileFormData.userCountry}} Please type in Country if you want to get a weather forecast* **
    <br/>
    <br/><br/>
    <button type="submit" class="btn btn-primary solid width-100 hover-black-text" >Save</button>
<br/><br/><br/>
* Will provide more accutate weather forecast if weather forecast is enabled in the mobile phone settings.
<br/>
** Mandatory if weather forecast is enabled in the mobile phone settings.    
<br/> 
</form>
</div>

{% endblock %}