{% extends 'base.html' %}
{% block content %}

    <!-- Main container start -->
<div class="container margine-b-50">
	<div class="row text-center">
	    <div class="col-lg-10 offset-lg-1  col-md-10 offset-md-1 col-xs-12">
	        <div class="card" data-bg-color="#323544">
	            <div class="card-body">
                    <!-- Form Name -->
                    <div class="title-text">
                        <legend><h2><b>User profile</b></h2></legend><br>
                    </div>
                    <!-- Text input-->
                    </br>
                    {% if userProfileMessage %}
                        <h2 style="color: {{messageColor}}"> {{ userProfileMessage }}</h2>
                    {% endif %}
                    </br>
                    </br>
                    <div class="login-form mt-4 col-lg-10 offset-lg-1">
	                    <form method="post">
                        {% csrf_token %}



                                                <div class="form-group">
                      <label class="col-md-4 control-label">First Name</label>
                      <div class="col-md-8 inputGroupContainer">
                      <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
                        </div>
                      </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                      <label class="col-md-12 control-label" >Last Name</label>
                        <div class="col-md-12 inputGroupContainer">
                        <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
                        </div>
                      </div>
                    </div>






                        </form>
                    </div>





</fieldset>

</div>
    </div><!-- /.container -->
{% endblock %}