{% extends 'base.html' %}
{% block content %}
<div class="container margine-b-50">
	<div class="row text-center">
	    <div class="col-lg-10 offset-lg-1  col-md-10 offset-md-1 col-xs-12">
	        <div class="card" data-bg-color="#323544">
	            <div class="card-body">
	                <div class="dashboard-title">
	                    <div class="title-text">Mobile phone</div>
	                </div>
                    </br>
                    </br>

                    <div class="login-form mt-4 col-lg-10 offset-lg-1">
	                    <form method="post">
                        {% csrf_token %}
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
                                    <div class="form-row col-md-12">
                                        <div class="text-size-20 color-white col-md-5">
                                            Country code:
                                        </div>
                                        <div class="text-left col-md-7">
                                             <la id="first_name" class="input-field">{{user_phone_form_data.phoneCountryCode}}</la>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
                                    <div class="form-row col-md-12">
                                        <div class="text-size-20 color-white col-md-5">
                                            Phone number:
                                        </div>
                                        <div class="col-md-7">
                                           <la id="first_name" class="input-field">{{user_phone_form_data.phoneNumber}}</la>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </br>
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
                                    <div class="form-row col-md-12">
                                        <div class="text-size-20 color-white col-md-12">
                                            Set receival time of the daily mobile text message:
                                        </div>
                                        <div class="col-md-12">
                                             <la id="first_name" class="input-field1">{{user_phone_form_data.timeWeatherSMS}}</la>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row margine-b-30 margine-t-30">
                                <div class="form-group col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
                                    <div class="form-row col-md-12">
                                        <div class="text-size-20 color-white col-md-12">
                                            Please approve that you want to receive daily forecast messages to your phone:
                                        </div>
                                        <div class="col-md-12">
                                            <la id="first_name" class="input-field1">{{user_phone_form_data.wantsToReceiveWeatherSMS}}</la>                                        </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="form-row margine-t-50 margine-b-30">
                                <button type="submit" class="btn main-button btn-block normal-text ">Save</button>
                            </div>
                            <div class="form-row">
                                <a href="{% url 'index'%}" class='btn main-button btn-block normal-text' >Back</a>
                            </div>
                        </form>
                    </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}