{% extends 'base.html' %}

{% block content %}
<div class="container margine-b-50">
	<div class="row text-center">
	    <div class="col-lg-10 offset-lg-1  col-md-10 offset-md-1 col-xs-12">
	        <div class="card" data-bg-color="#323544">
	            <div class="card-body">
	                <div class="dashboard-title">
	                    <div class="title-text">User phone settings</div>
	                </div>
                    </br>
                    </br>
                    <div class="col-lg-4 offset-lg-4  col-md-4 offset-md-4 col-xs-12">
                        User:  {{user.username}}
                    </div>
	                <div class="login-form mt-4 col-lg-10 offset-lg-1">
	                    <form method="post">
                        {% csrf_token %}
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12 col-lg-12">
                                     <div class="text-left ">
                                        Mobile phone country code: *
                                     </div>
                                    <div class="text-left ">
                                         <la id="first_name" class="input-field1">{{user_phone_form_data.phoneCountryCode}}</la>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12 col-lg-12">
                                     <div class="text-left">
                                        Mobile phone number: *
                                     </div>
                                    <div class="text-left ">
                                         <la id="first_name" class="input-field1">{{user_phone_form_data.phoneNumber}}</la>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12 col-lg-12">
                                     <div class="text-left ">
                                        Do you want to receive weather SMS to your mobile: **
                                     </div>
                                    <div class="text-left ">
                                         <la id="first_name" class="input-field1">{{user_phone_form_data.wantsToReceiveWeatherSMS}}</la>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row margine-b-10">
                                <div class="form-group col-md-12 col-lg-12">
                                     <div class="text-left ">
                                        Set your time to receive weather forecast:
                                     </div>
                                    <div class="text-left ">
                                         <la id="first_name" class="input-field1">{{user_phone_form_data.timeWeatherSMS}}</la>
                                    </div>
                                </div>
                            </div>
                            * Required fields in order to receive weather forecast.
                             <br/>
                            ** If you want to receive your SMS weather forecast you need to approve it by ticking this box.
                            <br/>
                            </br>
                            </br>
                            </br>
                            <div class="form-row ">
                                <button type="submit" class="btn main-button btn-block normal-text ">Submit</button>
                            </div>
                        </form>
                        </br>
                        </br>
                        <div class="form-row">
                            <a href="{% url 'send_daily_forecast_to_user'%}" class='btn main-button btn-block normal-text' >Send daily forecast</a>
                        </div>
                        </br>
                        </br>
                        <div class="form-row">
                            <a href="{% url 'index'%}" class='btn main-button btn-block normal-text' >Back to Index</a>
                        </div>
                        </br>
                        </br>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>




{% endblock %}